:root {
    --background: #1E222AF9;
    --foreground: #D8DEE9;
    --gray: #b2b5d4;
    --accent-soft: #b48ead;
    --accent: #88C0D0;
    --accent-strong: #81A1C1;
    --highlight: #A3BE8C;
    --warning: #EBCB8B;
    --border: var(--accent-strong);
}

@font-face { font-family: IosevkaSS14; src: url('assets/IosevkaSS14.ttf'); } 

/* hide page scrollbar */
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */
/* end hide page scrollbar */

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--background)), url(assets/frutiger_metro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

body {
    color: var(--foreground);
    font-family: IosevkaSS14;
    padding: 0ch;
    margin-top: 1ch;
}

a {
    color: var(--accent-soft);
}

a:hover {
    color: var(--highlight);
}

h1 {
    color: var(--accent);
    margin-top: 0lh;
    margin-bottom: 0lh;
    text-decoration: underline;
}

h2 {
    color: var(--accent);
    margin-top: 0.25lh;
    margin-bottom: -0.25lh;
}

h3 {
    color: var(--warning);
    margin-top: 0lh;
    margin-bottom: 0lh;
}

p,
ul {
    margin-top: 0.5lh;
    margin-bottom: 0lh;
    max-width: 60ch;
    line-height: 110%;
}

ul {
    margin-left: -1ch;
}

p {
    margin-top: 0.5lh;
    margin-bottom: 0.5lh;
}

ul li::marker {
    color: var(--accent-strong);
    content: "-> ";
}

.label {
    color: var(--warning);
    font-weight: bold;
}

.extra-info {
    color: var(--accent-strong);
    font-style: italic;
    margin-top: 0.2lh;
    margin-bottom: -0.2lh;
}

.inline-info {
    font-style: italic;
    color: var(--gray);
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1ch;
    gap: 2ch;
    width: 50ch;
    /* background-color: #81A1C15f; */
}

.item {
    border: solid;
    border-radius: 0.5ch;
    border-color: #81a1c1A0;
    border-width: 0.75ch;
    padding-top: 0.5ch;
    padding-bottom: 1ch;
    padding-left: 0.5ch;
    padding-right: 0.5ch;
    width: 15ch;
    background-color: #3b346d2b;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.item:hover {
    border-color: #81a1c1F0;
    background-color: #24445766;
}

img {
    display: inline-block;
    vertical-align: middle;
    width: 4lh;
    height: 4lh;
}